
<div class="container" style="background-color: #f0f0f0;">
  <br>
  <div class="header d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Stock List</h2>
    <button class="btn btn-info" (click)="showForm()">
      <i class="fas fa-plus"></i> Add Stock
    </button>
  </div>



  <form class="mt-3" (ngSubmit)="submitForm()" *ngIf="displayForm">
    <div class="form-group">
      <label for="title">Stock Title:</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="stock.title" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-info mr-2">
        <i class="fas fa-check"></i> Submit
      </button>
      <button type="button" class="btn btn-danger" (click)="submitForm()">
        <i class="fas fa-times"></i> Cancel
      </button>
    </div>
  </form>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead class="thead-light">
            <tr>
              <th>Stock Title</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.title }}</td>
              <td>
                <a [routerLink]="['/product', item.idStock]" class="btn btn-primary">
                  <i class="fas fa-info-circle"></i> Details
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
